body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url("https://images.pexels.com/photos/917494/pexels-photo-917494.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: aqua; */
  padding: 30px 0;
  /* border: 1px solid black; */
  margin-bottom: 20px;
}

.landing-picture {
  width: 350px;
  height: 350px;
  background-image: url("https://media.gettyimages.com/photos/damiano-david-of-mneskin-performs-on-stage-during-the-2018-milano-picture-id1027960278?k=6&m=1027960278&s=612x612&w=0&h=HgJxYO5YGDc9B4Bqm8-wnRhbNdHf-40SvFrw7OPzW2w=");
  border-radius: 50%;
}

.description {
  padding-top: 30px;
}

.bio {
  background-color: rgba(255, 255, 255, 0.8);
}

.box {
  border: 1px solid black;
  width: 300px;
  height: 300px;
  margin-bottom: 30px;
}

.custom-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* background-color: aqua; */
  padding: 30px 0;
  /* border: 1px solid black; */
  margin-bottom: 20px;
}

.item1 {
  background-image: url("https://media.gettyimages.com/photos/damiano-david-of-mneskin-performs-on-stage-during-the-2018-milano-picture-id1027960278?k=6&m=1027960278&s=612x612&w=0&h=HgJxYO5YGDc9B4Bqm8-wnRhbNdHf-40SvFrw7OPzW2w=");
}

.item2 {
  background-color: aliceblue;
}

.item3 {
  background-color: aqua;
}

.item4 {
  background-color: aliceblue;
}

.item5 {
  background-color: rgb(255, 72, 0);
}
